
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@font-family-base:          'Lato', sans-serif;




// Colours
@white:                     #fff;
@dark-green:                #14613D;



// So media queries don't overlap when required, provide a maximum
@screen-xs-m:              (@screen-xs - 1);
@screen-sm-m:              (@screen-sm - 1);
@screen-md-m:              (@screen-md - 1);
@screen-lg-m:              (@screen-lg - 1);
