// Import the Bootstrap LESS here

@import "../../bower_components/bootstrap/less/bootstrap.less";
@import '../../bower_components/font-awesome/less/font-awesome.less';
@import "var.less";


// Reset the icon font paths

@fa-font-path: "../../../bower_components/font-awesome/fonts";
@icon-font-path: "../../../bower_components/bootstrap/fonts/";


/* ---- Helper Classes ---- */
.dis-ta {
	display: table;
	width: 100%;
	height: 100vh;
}
.dis-cell {
	display: table-cell;
}
.align-middle {
	vertical-align: middle;
}
.btn-orange {
	padding: 12px 40px;
	color: @white;
	background-color: @orange;
	border-radius: 30px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	.transition(background-color .3s ease-in-out);
	&:hover {
		color: @white;
		background-color: darken(@orange, 10%);
	}
}
.col-center {
	float: none;
	margin: 0 auto;
}
.bg-full {
	position: relative;
	width: 100%;
	height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
h2 {
	margin: 20px;
	font-size: 36px;
	@media(max-width: @screen-sm-m) {
		font-size: 30px;
	}
	@media(max-width: @screen-xs-m) {
		font-size: 24px;
	}
}
p {
	font-family: @lato;
}
/* ---- end Helper Classes ---- */

/* ---- Header ---- */
header {
	.navbar {
		padding: 20px 40px;
		background-color: @dark-green;
		a {
			&.logo {
				display: block;
				padding-top: 10px;
			}
		}
		.navbar-nav {
			float: right;
			> li {
				a {
					color: @white;
					.transition(color .3s ease-in-out);
					@media(min-width: @screen-lg) {
						padding: 10px 20px;
						font-size: 16px;
					}
					&:hover,
					&:active,
					&:focus {
						color: @orange;
						background: none;
					}
				}
				&.sign-in {
					a {
						background-color: @orange;
						border-radius: 20px;
						text-transform: uppercase;
						.transition(all .3s ease-in-out);
						&:hover {
							color: @white;
							background-color: darken(@orange, 10%);
						}
					}
				}
			}
		}
	}
}
/* ---- end Header ---- */

/* ---- Homepage ---- */
.section-1 {
	color: @white;
  h2 {
  	font-size: 79px;
  	font-weight: 600;
  	text-transform: uppercase;
  	@media(max-width: @screen-sm-m) {
  		font-size: 59px;
  	}
  	@media(max-width: @screen-xs-m) {
  		font-size: 30px;
  	}
  }
  h3 {
  	font-family: @lato;
  	font-size: 24px;
  	line-height: 1.5;
  	br {
  		display: none;
  	}
  	@media(max-width: @screen-sm-m) {
  		font-size: 18px;
  	}
  	@media(max-width: @screen-xs-m) {
  		font-size: 16px;
  		line-height: 1.3;
  	}
  }
}

.section-2 {
	padding: 98px 0 50px;
	text-align: center;
	@media(max-width: @screen-xs-m) {
		padding: 44px 0 24px;
	}
	img {
		margin-bottom: 20px;
		@media(max-width: @screen-xs-m) {
			margin-bottom: 10px;
		}
	}
	p {
		@media(min-width: @screen-xs) {
			font-size: 20px;
		}
	}
}

.section-2-images {
	padding: 0 0 44px;
	img {
		.center-block();
		margin-bottom: 40px;
	}
	p {
		font-weight: 300;
		line-height: 1.5;
	}
}

.sec-2-button {
	padding: 0 0 98px;
	@media(max-width: @screen-xs-m) {
		padding: 0 0 44px;
	}
}

.section-3 {
	color: @white;
	h2 {
		margin-bottom: 35px;
		font-size: 46px;
		@media(max-width: @screen-xs-m) {
			margin-bottom: 10px;
			font-size: 30px;
		}
	}
	p {
		font-weight: 300;
		@media(min-width: @screen-xs) {
			font-size: 20px;
		}
	}
	.button-row {
		margin-top: 50px;
	}
}
/* ---- end Homepage ---- */













