// Import the Bootstrap LESS here

@import "../../bower_components/bootstrap/less/bootstrap.less";
@import '../../bower_components/font-awesome/less/font-awesome.less';
@import "var.less";


// Reset the icon font paths

@fa-font-path: "../../../bower_components/font-awesome/fonts";
@icon-font-path: "../../../bower_components/bootstrap/fonts/";


/* ---- Helper Classes ---- */
.wow { 
	visibility: hidden;
}
.dis-ta {
	display: table;
	width: 100%;
	height: 100vh;
}
.dis-cell {
	display: table-cell;
}
.align-middle {
	vertical-align: middle;
}
.align-bottom {
	vertical-align: bottom;
	padding-bottom: 40px;
}
.btn-orange {
	padding: 12px 40px;
	color: @white;
	background-color: @orange;
	border-radius: 30px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	.transition(all .3s ease-in-out);
	&:hover {
		color: @white;
		background-color: darken(@orange, 10%);
		.scale(0.95);
	}
}
.col-center {
	float: none;
	margin: 0 auto;
}
.hidden-mb {
	@media(max-width: @screen-xs-m) {
		display: none !important;
	}
}
.visible-mb {
	display: none;
	@media(max-width: @screen-xs-m) {
		display: block !important;
	}
}
/* ---- end Helper Classes ---- */

/* ---- Global ---- */
body {
	font-size: 16px;
}
.bg-full {
	position: relative;
	width: 100%;
	height: 100vh;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  @media(max-width: @screen-sm-m) {
  	background-attachment: scroll;
  }
  .tinted-bg {
  	width:100%;
	  height:100%;
	  background-color: rgba(0,0,0,0.4);
  }
}
h2 {
	margin: 20px 0;
	font-size: 36px;
	@media(max-width: @screen-sm-m) {
		font-size: 30px;
	}
	@media(max-width: @screen-xs-m) {
		font-size: 24px;
	}
}
p {
	color: #666;
	font-family: @lato;
	font-size: 16px;
	line-height: 1.5;
	&.thin {
		font-weight: 300;
	}
}
.header-text {
	color: @white;
  h2 {
  	font-size: 79px;
  	line-height: 1;
  	font-weight: 600;
  	text-transform: uppercase;
  	@media(max-width: @screen-sm-m) {
  		font-size: 59px;
  	}
  	@media(max-width: @screen-xs-m) {
  		font-size: 30px;
  	}
  }
  h3 {
  	font-family: @lato;
  	font-size: 24px;
  	line-height: 1.4;
  	br {
  		display: none;
  	}
  	@media(max-width: @screen-sm-m) {
  		font-size: 18px;
  	}
  	@media(max-width: @screen-xs-m) {
  		font-size: 16px;
  		line-height: 1.3;
  	}
  }
}
.content {
	padding: 60px 0 0 0;
	@media(max-width: @screen-sm-m) {
		padding: 30px 0 0 0;
	}
	@media(max-width: @screen-xs-m) {
		padding: 20px 0 0 0;
	}
	h2, h3, h4, h5 {
		margin: 25px 0 15px 0;
	}
	p {
		font-family: @lato;
		font-weight: 300;
		line-height: 1.6;
		@media(min-width: @screen-xs) {
			font-size: 16px;
		}
		&.lead {
			font-size: 18px;
		  font-weight: 700;
		}
	}
}
/* ---- end Global ---- */

/* ---- Header ---- */
body.down {
	header {
		.navbar {
			&.clone {
				top: 0;
			}
		}
  }  
}
header {
	.navbar {
		margin-bottom: 0;
		padding: 20px 40px;
		background-color: rgba(19, 97, 61, 0.9);
		border-radius: 0;
		z-index: 999;
		@media(max-width: @screen-xs-m) {
			padding: 10px;
		}
		&.clone {
			position:fixed;
	    top: -82px;
	    left: 0;
	    right: 0;
	    z-index: 999;
	    .transition(0.4s top cubic-bezier(.3,.73,.3,.74))
		}
		a {
			&.logo {
				position: relative;
				z-index: 999;
				display: block;
				padding-top: 3px;
				img {
					@media(max-width: @screen-xs-m) {
						max-width: 130px;
					}
				}
			}
		}
		.navbar-nav {
			float: right;
			> li {
				a {
					color: @white;
					@media(min-width: @screen-lg) {
						padding: 10px 20px;
						font-size: 16px;
						.transition(color .3s ease-in-out);
					}
					@media(max-width: 1250px) {
						padding: 10px 13px;
					}
					&:hover,
					&:active,
					&:focus {
						color: @orange;
						background: none;
					}
				}
				&.sign-in {
					a {
						background-color: @orange;
						border-radius: 20px;
						text-transform: uppercase;
						.transition(all .3s ease-in-out);
						@media(min-width: 1312px) {
							padding: 10px 40px;
							margin-left: 20px;
						}
						@media(max-width: @screen-lg-m) {
							width: 190px;
							margin: 0 auto;
							font-size: 20px;
							font-weight: 400;
						}
						&:hover {
							color: @white;
							background-color: darken(@orange, 10%);
						}
					}
				}
			}
			@media(max-width: @screen-lg-m) {
				float: none;
				> li {
					float: none;
					margin: 30px 0;
					@media(max-width: @screen-sm-m) {
						margin: 20px 0;
					}
					@media(max-width: @screen-xs-m) {
						margin: 7px 0;
					}
					a {
						font-size: 27px;
						font-weight: 300;
						@media(max-width: @screen-sm-m) {
							font-size: 20px;
						}
						@media(max-width: @screen-xs-m) {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}

/*styling open close button*/


.button {
	display:inline;
	position:absolute;
	right: 20px;
	top: 16px;
	z-index:999;
	font-size:30px;
	@media(max-width: @screen-xs-m) {
		top: 3px;
		right: 10px;
	}
}
.button a {
	text-decoration:none;
}
.btn-open:after {
	color: @white;
	content:"\f0c9";
	font-family: @fa;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
	-webkit-text-stroke: 2px rgba(19,97,61,0.9);
}
.btn-close {
	&:after {
		color:#fff;
		content:"\f00d";
		font-family: @fa;
		transition-property:all .2s linear 0s;
		-moz-transition:all .2s linear 0s;
		-webkit-transition:all .2s linear 0s;
		-o-transition:all .2s linear 0s;
		-webkit-text-stroke: 2px rgba(19,97,61,0.9);
	}
}
/*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background: #13613D;
	overflow:auto;
	z-index:99;
	margin-left: -41px;
	@media(max-width: @screen-xs-m) {
		margin-left: -11px;
	}
}
.wrap {
	position: relative;
	text-align:center;
	max-width:90%;
	margin: 0 auto;
	.nav-wrap {
		.bottom {
			margin-top: 45px;
		}
	}
}
.top-section {
	position: relative;
	top: -82px;
	margin-bottom: -82px;
	@media(max-width: @screen-lg-m) {
		top: -74px;
		margin-bottom: -74px;
	}
	@media(max-width: @screen-xs-m) {
		top: -50px;
		margin-bottom: -50px;
	}
}
/* ---- end Header ---- */

/* ---- Homepage ---- */
.section {
	padding: 112px 0;
	@media(max-width: @screen-xs-m) {
		padding: 44px 0;
	}
}
.section-images {
	padding: 112px 0;
	text-align: center;
	@media(max-width: @screen-xs-m) {
		padding: 44px 0;
	}
	img {
		margin-bottom: 20px;
		@media(max-width: @screen-xs-m) {
			max-width: 60px;
			margin-bottom: 10px;
		}
		&.round {
			.center-block();
			margin-bottom: 40px;
			max-width: 203px;
			border-radius: 50%;
		}
	}
	p {
		font-weight: 500;
		@media(min-width: @screen-xs) {
			font-size: 20px;
		}
		&.sub-title {
			font-weight: 300;
		}
		br {
			@media(max-width: @screen-sm-m) {
				display: none;
			}
		}
	}
	h3 {
		&.steps-title {
			color: #005931;
			text-transform: uppercase;
			@media(min-width: @screen-sm) {
				font-size: 30px;
			}
		}
	}
	.images-row {
		margin-top: 50px;
		@media(max-width: @screen-xs-m) {
			margin-top: 30px;
		}
	}
	.button-row {
		margin-top: 50px;
		@media(max-width: @screen-xs-m) {
			margin-top: 30px;
		}
	}
}

.section-3 {
	color: @white;
	h2 {
		margin-bottom: 35px;
		font-size: 46px;
		@media(max-width: @screen-xs-m) {
			margin-bottom: 10px;
			font-size: 30px;
		}
	}
	p {
		color: @white;
		font-weight: 300;
		@media(min-width: @screen-xs) {
			font-size: 20px;
		}
	}
	.button-row {
		margin-top: 50px;
	}
	&.image-button {
		h3 {
			margin: 50px 0 30px;
			font-size: 32px;
			@media(max-width: @screen-xs-m) {
				font-size: 28px;
			}
		}
		.btn-orange {
			width: 224px;
		}
	}
}

.section-4 {
	padding: 112px 0;
	@media(max-width: @screen-xs-m) {
		padding: 34px 0;
	}
	.main-text {
		margin-bottom: 80px;
		@media(max-width: @screen-xs-m) {
			margin-bottom: 20px;
		}
	}
	h2 {
		color: @dark-grey;
	}
	p {
		&.sub-title {
			font-weight: 600;
			@media(min-width: @screen-xs) {
				font-size: 20px;
			}
			br {
				@media(max-width: @screen-sm-m) {
					display: none;
				}
			}
		}
	}
	img.large-img {
		width: 100%;
		max-width: 445px;
		border-radius: 10px;
		.center-block();
		margin-bottom: 30px;
	}
	.icons-row {
		.dis-ta {
			height: auto;
			margin-bottom: 20px;
		}
		.dis-cell {
			vertical-align: middle;
		}
		.img {
			width: 60px;
			img {
				max-width: 60px;
				.center-block();
			}
		}
		.text {
			padding-left: 20px;
			p {
				text-align: left;
			}
		}
	}
	.button-row {
		margin-top: 60px;
		@media(max-width: @screen-xs-m) {
			margin-top: 30px;
		}
	}
}

.section-5 {
	padding: 112px 0;
	background-color: #F0F0F0;
	@media(max-width: @screen-sm-m) {
		padding: 34px 0;
	}
}

.blog-section {
	.img-wrap {
		overflow: hidden;
		&:hover {
			img {
				.scale(1.2);
			}
		}
		img {
			.transition(all .4s ease-in-out);
		}
	}
	.posts-row {
		margin-top: 50px;
		img {
			width: 100%;
			.center-block();
		}
		.category-row {
			h4 {
				margin-bottom: 30px;
			}
		}
	}
	.button-row {
		margin: 70px 0;
		@media(max-width: @screen-sm-m) {
			margin: 20px 0 40px;
		}
	}
	p {
		&.meta {
			margin-top: 20px;
			margin-bottom: 5px;
			a {
				color: #666;
				text-decoration: none;
			}
		}
	}
	h4 {
		margin-top: 0;
		color: #252525;
		font-size: 24px;
	}
	&.blog-roll {
		p.meta {
			@media(max-width: @screen-sm-m) {
				margin-top: 15px;
			}
		}
		h4 {
			@media(max-width: @screen-sm-m) {
				margin-bottom: 30px;
			}
		}
	}
}

.section-6 {
	padding-top: 50px;
	.mini-logo {
		margin: 70px 0 20px;
		@media(max-width: @screen-sm-m) {
			margin: 10px 0 20px;
		}
	}
	p {
		&.sub-title {
			@media(min-width: @screen-xs-m) {
				font-size: 20px;
				font-weight: 600;
			}
		}
	}
	.bullets {
		margin: 40px auto;
    display: table;
	}
	ul {
		text-align: left;
		li {
			margin-bottom: 10px;
			color: #005731;
			font-family: @lato;
			font-weight: 600;
			@media(min-width: @screen-xs) {
				font-size: 18px;
			}
		}
	}
	.right-image {
		@media(max-width: @screen-sm-m) {
			margin-top: 40px;
		}
		img {
			width: 100%;
			max-width: 345px;
			.center-block();
			@media(max-width: @screen-xs-m) {
				max-width: 175px;
			}
		}
	}
}

.testimonial-section {
	padding: 130px 0;
	background-color: #F0F0F0;
	@media(max-width: @screen-sm-m) {
		padding: 44px 0;
	}
	p {
		&.testimonial {
			color: #005931;
			font-family: @font-family-base;
			font-size: 30px;
			@media(max-width: @screen-sm-m) {
				font-size: 22px;
			}
			@media(max-width: @screen-xs-m) {
				font-size: 16px;
			}
		}
		&.name {
			padding-top: 10px;
			color: #666666;
			font-weight: 300;
		}
	}
	img {
		&.quotes {
			margin: 25px 0;
			@media(max-width: @screen-sm-m) {
				max-width: 52px;
			}
			@media(max-width: @screen-xs-m) {
				max-width: 40px;
			}
		}
	}
}
/* ---- end Homepage ---- */

/* ---- Blog Page ---- */
.blog-header {
	h2 {
		margin: 7px 0 60px;
		font-weight: 400;
		text-align: left;
		text-transform: none;
		@media(max-width: @screen-xs-m) {
			margin: 7px 0 0;
		}
	}
	.cat-title {
		margin-bottom: 0;
		padding-left: 6px;
		@media(max-width: @screen-xs-m) {
			padding-left: 2px;
		}
		a {
			color: @white;
		}
	}
}
.blog-cat {
	padding: 25px 0;
	background-color: #F0F0F0;
	.cat-wrap {
		display: table;
		margin: 0 auto;
	}
	ul {
		margin: 0;
		li {
			@media(min-width: @screen-xs) {
				padding-left: 10px;
				padding-right: 10px;
			}
			a {
				color: #252525;
				&.selected {
					color: @orange;
					@media(min-width: @screen-sm) {
						font-size: 16px;
					}
				}
			}
		}
	}
}
.blog-page {
	&.blog-section {
		.posts-row {
			margin-top: 0;
			margin-bottom: 30px;
			p.meta {
				margin: 10px 0 0;
			}
			.item {
				margin-bottom: 22px;
			}
		}
		.elm-button {
			padding: 10px 40px;
			color: @white;
			background-color: @orange;
			border-radius: 30px;
			border: none;
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
			.transition(background-color .3s ease-in-out);
			&:hover {
				color: @white;
				background-color: darken(@orange, 10%);
			}
		}
	}
}
.post-row {
	margin-bottom: 40px;
}
.date-bar {
	padding: 20px 0;
	color: @white;
	background-color: #0B5833;
	p {
		margin: 0;
		color: @white;
	}
	a {
		color: @white;
	}
}

.blog-nav {
	display: table;
	margin: 20px auto 10px;
	.pagination {
		li {
			a {
				color: @orange;
			}
			&.active {
				a {
					color: @white;
					background-color: @orange;
					border-color: @orange;
				}
			}
		}
	}
}

.share {
	margin: 10px 0;
	font-size: 17px;
}

.share-post {
	display: table;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 100%;
	padding: 10px 0;
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	text-align: center;
	ul {
		margin: 0;
		li {
			padding: 0 30px;
			a {
				color: #666666;
				font-size: 26px;
				.transition(all .3s ease-in-out);
				&:hover {
					text-decoration: none;
					.scale(1.2);
				}
				&.fa-facebook {
					&:hover {
						color: #3B5998;
					}
				}
				&.fa-twitter {
					&:hover {
						color: #1CCAFF;
					}
				}
				&.fa-linkedin {
					&:hover {
						color: #0077B5;
					}
				}
			}
		}
	}
}

.random-posts {
	padding: 40px 0 60px;
	background-color: #F0F0F0;
	@media(max-width: @screen-xs-m) {
		padding: 10px 0;
	}
	.posts-row {
		margin-top: 10px;
	}
}
/* ---- end Blog Page ---- */

/* ---- Page Template ---- */
.default-section {
	padding: 98px 0;
	@media(max-width: @screen-xs-m) {
		padding: 44px 0;
	}
	.panel {
		background: none;
		border: 0;
	}
  .panel-group {
    @media(min-width: @screen-sm) {
      margin-top: 40px;
    }
    .panel + {
      .panel {
        margin-top: 10px;
      }
    }
  }
  .panel-heading {
  	padding: 0 15px;
    background: none;
    border-bottom: 1px solid #EAEAEA;
    .transition(background-color .3s ease-in-out);
    h4 {
      font-size: 20px;
      text-align: left;
      @media(max-width: @screen-sm-m) {
        font-size: 17px;
      }
    }
  }
  .panel-title {
    > a {
      display: block;
      @media(min-width: @screen-xs) {
      	&:after {
	      	position: relative;
	      	top: -20px;
	        margin-top: -5px;
	        padding: 9px 11px;
	        font-family: @fa;
	        font-size: 26px;
	        content: "\f078"; 
	        float: right; 
	        .transition(all .3s ease-in-out);
	        -webkit-text-stroke: 1px @white;
	        @media(max-width: @screen-sm-m) {
	          padding: 7px 7px 5px;
	          font-size: 13px;
	        }
	      }
	      &.collapsed {
	        &:after {
	           content: "\f054";
	           -webkit-text-stroke: 1px @white;
	        }
	      }
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .panel-body {
  	font-family: @lato;
  	font-weight: 300;
  }
}

.contact-section {
	padding: 98px 0;
	background-color: #252525;
	@media(max-width: @screen-xs-m) {
		padding: 44px 0;
	}
	h2.title {
		margin-bottom: 30px;
		color: @white;
		font-size: 50px;
		@media(max-width: @screen-xs-m) {
			font-size: 30px;
		}
	}
	p.sub-title {
		margin-bottom: 50px;
		color: @white;
		font-family: @lato;
		font-size: 20px;
		@media(max-width: @screen-xs-m) {
			font-size: 14px;
		}
	}
	label {
		margin: 0 0 10px 0;
		color: @white;
		font-family: @lato;
		font-weight: 300;
	}
	.form-control {
		border-radius: 10px;
		height: 55px;
		@media(max-width: @screen-xs-m) {
			height: 45px;
		}
	}
	.form-group {
		margin-bottom: 35px;
		@media(max-width: @screen-xs-m) {
			margin-bottom: 20px;
		}
		&.submit-btn {
			padding-top: 30px;
			display: block;
			margin: 0 auto;
			@media(max-width: @screen-xs-m) {
				padding-top: 20px;
			}
		}
	}
}
/* ---- end Page Template ---- */

/* ---- Footer ---- */
.bottom {
	padding: 30px 0;
	color: @white;
	background-color: @dark-green;
	@media(max-width: @screen-lg-m) {
		text-align: center;
	}
	p {
		color: @white;
		font-weight: 300;
		@media(min-width: @screen-lg) {
			margin-top: 7px;
		}
	}
	a {
		color: @white;
		font-weight: 300;
		&.download {
			margin-left: 20px;
			@media(max-width: @screen-lg-m) {
				display: none;
			}
		}
	}
	.widget {
		margin: 0;
	}
	.social {
		display: table;
		margin: 0 auto;
		ul {
			margin: 0;
			@media(max-width: @screen-lg-m) {
				margin: 7px 0;
			}
			li {
				padding-right: 1px;
				a {
					width: 32px;
			    height: 32px;
			    color: @dark-green;
			    background: @white;
			    border-radius: 50%;
			    padding-top: 8px;
			    font-size: 16px;
			    text-align: center;
			    .transition(all .3s ease-in-out);
			    &:hover {
			    	.scale(1.2);
			    	text-decoration: none;
			    }
				}
			}
		}
	}
	nav {
		ul {
			&.menu {
				@media(min-width: @screen-lg) {
					margin-top: 7px;
				}
				@media(max-width: @screen-lg-m) {
					margin: 10px 0 0 -60px;
				}
				li{
					margin-left: 30px;
					font-family: @lato;
					@media(max-width: @screen-lg-m) {
						margin: 0;
						padding-left: 5px;
						padding-right: 5px;
					}
					@media(max-width: @screen-xs-m) {
						float: none;
					}
				}
			}
		}
		.footer-links {
			@media(max-width: @screen-lg-m) {
				float: none;
				display: table;
				margin: 0 auto;
			}
		}
	}
}

/* ---- end Footer ---- */

/**** Isotope Filtering ****/
 
.isotope-item {
  z-index: 2;
}
 
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
 
/**** Isotope CSS3 transitions ****/
 
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
 
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
 
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
 
/**** disabling Isotope CSS3 transitions ****/
 
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}












